%tk-field {
  @extend %tk-abstract-field;

  -webkit-appearance: none;
  padding: 20px $spacer-x 4px $spacer-x;

  width: 100%;

  position: relative;

  &:focus {
    @extend %tk-abstract-field--is-focused;
  }

  @media only screen and (max-width: $narrow) {
    &:hover:not(:focus) {
      border: $gray-2-border;
    }
  }

  &:disabled {
    background: $gray-1;
    border: $gray-1-border;
  }
}

/* States */
%tk-field--is-invalid {
  background: $coral-tint-80;
  border: $coral-tint-80-border;
  transition: all 0.2s ease-out 1.5s;
}
