%tk-field__container {
  position: relative;
  font-family: $sans-serif;
  text-align: left;

  label {
    @extend %tk-field__label;
  }

  input {
    @extend %tk-field;

    &:not(:placeholder-shown) ~ label {
      @extend %tk-field__label--small;
    }

    &:focus ~ label {
      @extend %tk-field__label--small;
      @extend %tk-field__label--is-focused;
    }

    &.tk-field--invalid {
      @extend %tk-field--is-invalid;

      ~ .tk-field__requirements {
        @extend %tk-field__requirements--field-is-invalid;
      }
    }

    &:disabled ~ label {
      @extend %tk-field__label--is-disabled;
    }
  }
}

