%tk-textarea {
  -webkit-appearance: none;
  border: $gray-2-border;
  border-radius: $radius-reset;
  color: $black;
  font-size: $font-size-medium;
  font-weight: 400;
  outline: $outline-reset;
  padding: 14px $spacer-x 4px;
  resize: none;
  width: 100%;

  &:focus {
    border: $black-border;
    outline: $outline-reset;
  }

  &:hover {
    border: $black-border;
    outline: $outline-reset;
  }

  &::-moz-placeholder,
  &::-ms-input-placeholder,
  &::-webkit-input-placeholder {
    @extend %tk-textarea__placeholder;
  }
}

%tk-textarea__placeholder {
  color: $gray-4;
  font-size: $font-size-medium;
  font-weight: 300;
}
