%tk-field-label-as-placeholder {
  position: absolute;
  left: 0;
  top: 0;
}

%tk-field-label {
  @extend %tk-field-label-as-placeholder;
  @extend %tk-abstract-placeholder;

  margin-left: 10px;
  margin-top: 14px;
}

%tk-field-label--is-filled {
  @extend %tk-abstract-placeholder--is-filled;
  margin-top: 6px;
}

%tk-field-label--is-focused {
  @extend %tk-abstract-placeholder--is-focused;
  margin-top: 6px;
}

%tk-field-label--for-textarea {
  @extend %tk-field-label-as-placeholder;
  @extend %tk-abstract-placeholder--is-filled;
  margin-left: 10px;
  margin-top: 10px;
}
