%tk-field {
  -webkit-appearance: none;
  border: $gray-2-border;
  // Fix firefox render error
  box-shadow: none;
  padding: 20px $spacer-x 4px $spacer-x;
  width: 100%;
  position: relative;
  display: block;
  font-size: $font-size-medium;

  &:hover {
    @extend %tk-field--is-focused;
  }

  &:focus {
    @extend %tk-field--is-focused;
  }

  @media only screen and (max-width: $narrow) {
    &:hover:not(:focus) {
      border: $gray-2-border;
    }
  }

  &:disabled {
    @extend %tk-field--is-disabled;
  }
}

/* States */
%tk-field--is-invalid {
  background: $coral-tint-80;
  border: $coral-tint-80-border;
  transition: all 0.2s ease-out 1.5s;
}

%tk-field--is-focused {
  border: $black-border;
  outline: $outline-reset;
}

%tk-field--is-disabled {
  background: $gray-1;
  border: $gray-1-border;
}
