%__tk-field-label {
  color: $gray-55;
  font-size: $font-size-medium;
  font-weight: 300;
  cursor: text;
}

%tk-field-label {
  @extend %__tk-field-label;
  transition: all 0.2s ease-out;

  left: 10px;
  position: absolute;
  top: 14px;

  // Firefox doesn't support (:placeholder-shown) at the moment
  @-moz-document url-prefix() {
    // This is the same as %tk-field-label--is-focused
    // Extending doesn't workin the queries
    // @extend %tk-field-label--is-focused
    color: $black;
    font-size: $font-size-xsmall;
    font-weight: 500;
    top: 6px;
  }
}

/* States */
%tk-field-label--is-filled {
  @extend %tk-field-label;
  font-size: $font-size-xsmall;
  font-weight: 500;
  top: 6px;
}

%tk-field-label--is-focused {
  @extend %tk-field-label--is-filled;
  color: $black;
}

%tk-field-label--is-disabled {
  @extend %tk-field-label;
  color: $gray-3;
  text-decoration: line-through;
}

%tk-field-label--for-textarea {
  @extend %tk-field-label;
  font-size: $spacer-x;
  font-weight: 500;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-top: 10px;
}
