html
  head
    title The Knot Form Fields #{version}
    link(href="index.css", rel="stylesheet")
  body.default-form-example
    script(src="index.js")
    script XO.FormFields.init('form');

    .container-fluid
      .row
        .col-md-4.col-md-offset-4
          h1 The Knot Form Fields

          ul.list-unstyled.xs-divider.list-horizontal
            li
              a.content.value(href="#usage") Usage
            li
              a.content.value(href="#demo") Demo
            li
              a.content.value(href="#contributing") Contributing

          :markdown
            This is a demo of the form fields for The Knot as designed by
            Silvia Tueros-Cossio. It was patternized and turned into this
            demo (and corresponding [repo](https://github.com/xogroup/tk-form-fields)
            by [Marco Carag](https://github.com/jazzcrazed)).

          h2
            a#usage Usage


          h4
            | As a standalone package
          ol
            li
              | Download
              a(href=`https://github.com/xogroup/tk-form-fields/blob/master/bin/tk-form-fields.${version}.css`)
                b tk-form-fields.#{version}.css
            li Place the file somewhere in your application that makes sense.
              li In Rails, `vendor/assets` would probably make sense.
              li In an Express Node app, try serving out of `vendor` -- eg:
                :markdown
                  ```
                  app.use('/static', express.static(__dirname + '/vendor'));
                  ```
            li Then architect your form's markup, following the below demo as an example. So long as you're using the appropriate classes and HTML, all should be well!
          h4
            | As an npm package
          ol
            li Run
              p
                code npm install --save @xogroup/tk-form-fields-pattern
            li Consume the following files:
              ul
                li
                  code node_modules/@xogroup/tk-form-fields/dist/index.js
                li
                  code node_modules/@xogroup/tk-form-fields/bin/tk-form-fields.latest.css
            li Initialize functionality
              p
                pre
                  | // in a 'window' context
                  | XO.FormFields.init();
                  | //
                  | // in a commonjs context
                  | require('@xogroup/tk-form-fields-pattern').init();
                  | // If you are working with a form element that is in memory and want to initialize
                  | // it manually, run the following
                  | XO.FormField.initializeForm(formElement);
                  | // or
                  | require('@xogroup/tk-form-fields-pattern').initializeForm(formElement);

      .row
        .col-md-4.col-md-offset-4.demo
          h2
            a#demo Demo

          form(action='#0').form-demo
            a.tk-button(href="#", data-toggle-theme="true")
              | Change Form Theme
            fieldset.row.tk-field__group
              .col-xs-6
                .tk-field__container
                  input#first_name(type='text', name='first_name', required='', placeholder=' ')
                  label(for='first_name') First Name

              .col-xs-6
                .tk-field__container
                  input#last_name(type='text', name='last_name', required='', placeholder=' ')
                  label(for='last_name') Last Name
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#nickname(type='text', name='nickname', placeholder=' ')
                  label(for='nickname') Nickname
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#email(type='email', name='email', required='', placeholder=' ')
                  label(for='email') Email Address
                  .tk-field__requirements
                    | Must be a valid email address.
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#password(type='password', name='password', required='', placeholder=' ', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}')
                  label(for='password') Password
                  .tk-field__requirements
                    | Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#tel(type='tel', name='tel', required='', placeholder=' ')
                  label(for='tel') Phone Number
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#guest_count(type='number', name='guest_count', placeholder=' ')
                  label(for='guest_count') Guest Count

            .row
              fieldset.col-xs-12.tk-field__group
                .tk-dropdown__container
                  input(id="season" readonly="true" placeholder=" " name="season")
                  label(for="season") Season
                  span.tk-dropdown__caret
                  .tk-dropdown__list-container
                    ul.tk-dropdown__list#season(type='select', name='Season' role="dropdown")
                      li.tk-dropdown__item(data-value="Winter") Winter
                        span.tk-dropdown__item__check
                      li.tk-dropdown__item(data-value="Spring") Spring
                        span.tk-dropdown__item__check
                      li.tk-dropdown__item(data-value="Summer") Summer
                        span.tk-dropdown__item__check
                      li.tk-dropdown__item(data-value="Fall") Fall
                        span.tk-dropdown__item__check

            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#ww_url(type='url', name='ww_url', required='', placeholder=' ')
                  label(for='ww_url') Wedding Website URL
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-field__container
                  input#hint(type='text', name='hint', disabled='', placeholder=' ')
                  label(for='nickname') Hint
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-textarea__container
                  label(for='optional') Optional
                  textarea#optional(rows='5', name='optional', placeholder='Example note: Hi! Thank you so much for inviting us to your wedding. See you soon!')
            .row
              fieldset.col-xs-12.tk-field__group
                .tk-textarea__container
                  textarea#optional_2(rows='5', name='optional_2', placeholder='Another really long note.')
            .row
              .col-xs-12
                button.tk-button--block(type='submit') Sign Up
                button.tk-button--block(disabled='true') Disabled button
      .row
        .col-md-4.col-md-offset-4
          h2
            a#contributing Contributing changes

          p
            strong
              | DO NOT modify the code in
              | tk-form-fields.#{version}.css
              | directly!!!
            :markdown
              Instead, fork the [repo](https://github.com/xogroup/tk-form-fields),
              make your changes there, and file a pull request. You could also file
              an [issue](https://github.com/xogroup/tk-form-fields/issues)

          :markdown
            If you need to change things more urgently, override the css/html
            in your application's stylesheets and templates (eg, in a Rails app
            within `app/assets/application.css`).

    script
      | document.querySelector('[data-toggle-theme]').addEventListener('click', function (e) {
      |   e.preventDefault();
      |   var whiteForm = document.querySelector('.white-form-example') || document.createElement('div');
      |   var defaultForm = document.querySelector('.default-form-example') || document.createElement('div');;
      |   whiteForm.classList.remove('white-form-example');
      |   defaultForm.classList.remove('default-form-example');
      |   whiteForm.classList.add('default-form-example');
      |   defaultForm.classList.add('white-form-example');
      | });

