/* Radii */
$small-border-radius: 2px;
$radius-reset: 0;

/* Borders */
$black-border: 1px solid $black;
$gray-1-border: 1px solid $gray-1;
$gray-2-border: 1px solid $gray-2;
$coral-1-border: 1px solid $coral-1;

/* Resets */
$border-reset: 0;
$outline-reset: 0;
