@import "../../vendor/stylesheets/coral";

/* Grayscale */
$gray-1: #fafafa;
$gray-2: #f4f4f4;
$gray-3: #cfcfcf;
$gray-4: #888;
$black: #000;
$white: #fff;

/* Non-grayscale */
$coral-darker: #ed887d;
$coral-1: #faddd9;
