@mixin tk-form-fields-theme($base-color) {
  %tk-dropdown__list {
    background-color: $base-color;
  }

  %tk-abstract-field {
    background-color: $base-color;
  }

  %tk-textarea {
    background-color: $base-color;
  }
}
