/* Base styling */

@mixin tkff-input {
  input {
    -webkit-appearance: none;
    background-color: $gray-2;
    border: $gray-2-border;

    // Fix firefox render error
    box-shadow: none;

    color: $black;
    display: block;
    font-size: $font-size-medium;
    font-weight: 400;
    padding: 20px $spacer-x 4px $spacer-x;
    width: 100%;
  }

/* DOM event/interaction styling */
  input:hover {
    border: $black-border;
    outline: $outline-reset;
  }

  @media only screen and (max-width: $narrow) {
    input:hover:not(:focus) {
      border: $gray-2-border;
      outline: $outline-reset;
    }
  }

  input:focus {
    // removing default focus style
    border: $black-border;
    outline: $outline-reset;
    transition: background-color 0.2s ease-out 1.5s;

    // adding new one
    ~ label {
      color: $black;
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }

  // default text input fields
  input:valid:not(:focus):not(:placeholder-shown) {
    background: $gray-2;
    ~ label {
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }

  // invalid text input fields, must be required
  .invalid {
    background: $coral-tint-80;
    border: $coral-tint-80-border;
    transition: all 0.2s ease-out 1.5s;
    ~ .requirements {
      max-height: 200px;
      padding: 5px $spacer-x 4px;
    }
  }

  input:not(:placeholder-shown) {
    ~ label {
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }

  // Firefox doesn't support (:placeholder-shown) at the moment
  @-moz-document url-prefix() {
    input ~ label {
      color: $black;
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }

  input:disabled {
    background: $gray-1;
    border: $gray-1-border;

    ~ label {
      color: $gray-3;
      text-decoration: line-through;
    }
  }
}
