/* Base styling */
.tk-form-fields {
  input {
    -webkit-appearance: none;
    background-color: $gray-2;
    border: $gray-2-border;
    color: $black;
    display: block;
    font-size: $font-size-medium;
    font-weight: 400;
    padding: 20px $spacer-x 4px $spacer-x;
    width: 100%;
  }
}

/* DOM event/interaction styling */
.tk-form-fields {
  input:hover {
    border: $black-border;
    outline: $outline-reset;
  }

  @media only screen and (max-width: $narrow) {
    input:hover:not(:focus) {
      border: $gray-2-border;
      outline: $outline-reset;
    }
  }

  input:focus {
    // removing default focus style
    border: $black-border;
    outline: $outline-reset;
    transition: background-color 0.2s ease-out 1.5s;

    // adding new one
    + label {
      color: $black;
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }
}

/* Validation */
.tk-form-fields {
  // required text styling
  input:required {
    background-image: url('data:image/svg+xml;utf8,<svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch --><title>asterisk</title><desc>Created with Sketch.</desc><defs></defs><g id="sandbox" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="asterisk" fill="#000000"><path d="M3.41,3.36480086 C3.284,3.09480086 3.23,2.86080086 3.212,2.59080086 L3.14,0.826800856 C3.446,0.682800856 3.842,0.628800856 4.346,0.628800856 L4.274,2.57280086 C4.256,2.82480086 4.184,3.13080086 4.076,3.36480086 L4.148,3.40080086 C4.31,3.14880086 4.508,2.96880086 4.724,2.82480086 L6.272,1.85280086 C6.542,2.05080086 6.83,2.44680086 7.028,2.84280086 L5.264,3.77880086 C5.084,3.86880086 4.724,3.95880086 4.454,3.99480086 L4.454,4.06680086 C4.706,4.10280086 5.012,4.19280086 5.246,4.30080086 L6.938,5.14680086 C6.938,5.52480086 6.632,6.06480086 6.326,6.26280086 L4.706,5.21880086 C4.472,5.07480086 4.292,4.85880086 4.148,4.66080086 L4.076,4.69680086 C4.166,4.91280086 4.256,5.21880086 4.274,5.45280086 L4.364,7.32480086 C4.238,7.39680086 4.022,7.43280086 3.752,7.43280086 C3.482,7.43280086 3.248,7.39680086 3.122,7.32480086 L3.212,5.45280086 C3.23,5.21880086 3.32,4.91280086 3.428,4.71480086 L3.356,4.67880086 C3.248,4.84080086 2.96,5.09280086 2.798,5.20080086 L1.232,6.24480086 C0.926000005,6.04680086 0.656000005,5.52480086 0.620000005,5.11080086 L2.258,4.28280086 C2.438,4.19280086 2.78,4.10280086 3.014,4.08480086 L3.014,4.01280086 C2.726,3.97680086 2.456,3.90480086 2.258,3.79680086 L0.674000005,2.95080086 C0.710000005,2.64480086 0.872000005,2.14080086 1.106,1.78080086 L2.762,2.80680086 C2.996,2.95080086 3.176,3.13080086 3.338,3.40080086 L3.41,3.36480086 Z"></path></g></g></svg>');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 14px;
    padding: 20px 20px 4px $spacer-x;
  }
  // default text input fields
  input:valid:not(:focus):not(:placeholder-shown) {
    background: $gray-2;
    + label {
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }
  // invalid text input fields, must be required
  input:invalid:not(:placeholder-shown) {
    background: $coral-tint-80;
    border: $coral-tint-80-border;
    transition: all 0.2s ease-out 1.5s;
    + label {
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
    ~ .requirements {
      max-height: 200px;
      padding: 5px $spacer-x 4px;
    }
  }

  // Firefox doesn't support (:placeholder-shown) at the moment
  @-moz-document url-prefix() {
    input + label {
      color: $black;
      font-size: $font-size-xsmall;
      font-weight: 500;
      top: 6px;
    }
  }
}

/* Disabled */
.tk-form-fields {
  input:disabled {
    background: $gray-1;
    border: $gray-1-border;

    + label {
      color: $gray-3;
      text-decoration: line-through;
    }
  }
}
