@mixin tkff-labels {
  label {
    color: $gray-4;
    cursor: text;
    font-size: $font-size-medium;
    font-weight: 300;
    left: 20px;
    position: absolute;
    top: 14px;
    transition: all 0.2s ease-out;
  }
}
