@mixin tkff-placeholder {
  color: $gray-4;
  font-size: $font-size-medium;
  font-weight: 300;
}

// text area
@mixin tkff-textarea {
  .textarea-container {
    label {
      background-color: $gray-2;
      color: $gray-4;
      font-size: $spacer-x;
      font-weight: 500;
      height: 26px;
      left: 15px;
      padding-left: 5px;
      padding-top: 6px;
      position: absolute;
      right: 11px;
      top: 1px;
    }

    label + textarea {
      padding: 26px $spacer-x 1px;
    }

    textarea {
      -webkit-appearance: none;
      background: $gray-2;
      border: $gray-2-border;
      border-radius: $radius-reset;
      color: $black;
      font-size: $font-size-medium;
      font-weight: 400;
      outline: $outline-reset;
      padding: 14px $spacer-x 4px;
      resize: none;
      width: 100%;

      &:focus {
        border: $black-border;
        outline: $outline-reset;
      }
      &::-moz-placeholder {
        @include tkff-placeholder;
      }
      &:-ms-input-placeholder {
        @include tkff-placeholder;
      }
      &::-webkit-input-placeholder {
        @include tkff-placeholder;
      }
    }
  }
}
