@charset "utf-8";
@import "variables";
@import "@sharedweb/tk-buttons/dist/latest/tk-buttons";

body {
  background: $white;
  font-family: $sans-serif;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.list-unstyled {
  text-align: center;
}

h2 a {
  color: $black;

  &:hover {
    border: $border-reset;
  }
}

.white-form-example {
  background-color: $lilac-tint-80;
  .form-demo {
    @extend %tk-form-fields--white;
    @extend %tk-buttons;
  }
}

.default-form-example {
  background-color: $white;
  .form-demo {
    @extend %tk-form-fields--default;
    @extend %tk-buttons;
  }
}
