form > div {
  margin: 10px 0px; }
form > div > div > label {
  font-weight: 300;
  position: absolute;
  top: 14px;
  left: 20px;
  transition: all .2s ease-out;
  font-size: 18px;
  color: #888888; }
form > div > div > input[type="text"],
form > div > div > input[type="email"],
form > div > div > input[type="password"],
form > div > div > input[type="tel"],
form > div > div > input[type="number"],
form > div > div > input[type="date"],
form > div > div > input[type="datetime"],
form > div > div > input[type="month"],
form > div > div > input[type="search"],
form > div > div > input[type="url"] {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  border: 1px solid #F4F4F4;
  padding: 20px 10px 4px 10px;
  background: #F4F4F4;
  color: #000000;
  font-size: 18px;
  font-weight: 400; }
  form > div > div > input[type="text"]:hover,
  form > div > div > input[type="email"]:hover,
  form > div > div > input[type="password"]:hover,
  form > div > div > input[type="tel"]:hover,
  form > div > div > input[type="number"]:hover,
  form > div > div > input[type="date"]:hover,
  form > div > div > input[type="datetime"]:hover,
  form > div > div > input[type="month"]:hover,
  form > div > div > input[type="search"]:hover,
  form > div > div > input[type="url"]:hover {
    outline: 0;
    border: 1px solid #000000; }
  @media only screen and (max-width: 768px) {
    form > div > div > input[type="text"]:hover:not(:focus),
    form > div > div > input[type="email"]:hover:not(:focus),
    form > div > div > input[type="password"]:hover:not(:focus),
    form > div > div > input[type="tel"]:hover:not(:focus),
    form > div > div > input[type="number"]:hover:not(:focus),
    form > div > div > input[type="date"]:hover:not(:focus),
    form > div > div > input[type="datetime"]:hover:not(:focus),
    form > div > div > input[type="month"]:hover:not(:focus),
    form > div > div > input[type="search"]:hover:not(:focus),
    form > div > div > input[type="url"]:hover:not(:focus) {
      outline: 0;
      border: 1px solid #F4F4F4; } }
  form > div > div > input[type="text"]:focus,
  form > div > div > input[type="email"]:focus,
  form > div > div > input[type="password"]:focus,
  form > div > div > input[type="tel"]:focus,
  form > div > div > input[type="number"]:focus,
  form > div > div > input[type="date"]:focus,
  form > div > div > input[type="datetime"]:focus,
  form > div > div > input[type="month"]:focus,
  form > div > div > input[type="search"]:focus,
  form > div > div > input[type="url"]:focus {
    outline: 0;
    border: 1px solid #000000;
    transition: background-color 0.2s ease-out 1.5s; }
    form > div > div > input[type="text"]:focus + label,
    form > div > div > input[type="email"]:focus + label,
    form > div > div > input[type="password"]:focus + label,
    form > div > div > input[type="tel"]:focus + label,
    form > div > div > input[type="number"]:focus + label,
    form > div > div > input[type="date"]:focus + label,
    form > div > div > input[type="datetime"]:focus + label,
    form > div > div > input[type="month"]:focus + label,
    form > div > div > input[type="search"]:focus + label,
    form > div > div > input[type="url"]:focus + label {
      font-size: 10px;
      font-weight: 500;
      color: #000000;
      top: 6px; }
  form > div > div > input[type="text"]:required,
  form > div > div > input[type="email"]:required,
  form > div > div > input[type="password"]:required,
  form > div > div > input[type="tel"]:required,
  form > div > div > input[type="number"]:required,
  form > div > div > input[type="date"]:required,
  form > div > div > input[type="datetime"]:required,
  form > div > div > input[type="month"]:required,
  form > div > div > input[type="search"]:required,
  form > div > div > input[type="url"]:required {
    padding: 20px 20px 4px 10px;
    background: #F4F4F4 url(https://s3.amazonaws.com/uploads.hipchat.com/30960/422341/MFTFWEUo8fK2fCj/asterisk.svg) 100% 50%/14px no-repeat; }
  form > div > div > input[type="text"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="email"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="password"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="tel"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="number"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="date"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="datetime"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="month"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="search"]:valid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="url"]:valid:not(:focus):not(:placeholder-shown) {
    background: #F4F4F4; }
    form > div > div > input[type="text"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="email"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="password"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="tel"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="number"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="date"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="datetime"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="month"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="search"]:valid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="url"]:valid:not(:focus):not(:placeholder-shown) + label {
      font-size: 10px;
      font-weight: 500;
      top: 6px; }
  form > div > div > input[type="text"]:disabled,
  form > div > div > input[type="email"]:disabled,
  form > div > div > input[type="password"]:disabled,
  form > div > div > input[type="tel"]:disabled,
  form > div > div > input[type="number"]:disabled,
  form > div > div > input[type="date"]:disabled,
  form > div > div > input[type="datetime"]:disabled,
  form > div > div > input[type="month"]:disabled,
  form > div > div > input[type="search"]:disabled,
  form > div > div > input[type="url"]:disabled {
    background: #FAFAFA;
    border: 1px solid #FAFAFA; }
    form > div > div > input[type="text"]:disabled + label,
    form > div > div > input[type="email"]:disabled + label,
    form > div > div > input[type="password"]:disabled + label,
    form > div > div > input[type="tel"]:disabled + label,
    form > div > div > input[type="number"]:disabled + label,
    form > div > div > input[type="date"]:disabled + label,
    form > div > div > input[type="datetime"]:disabled + label,
    form > div > div > input[type="month"]:disabled + label,
    form > div > div > input[type="search"]:disabled + label,
    form > div > div > input[type="url"]:disabled + label {
      text-decoration: line-through;
      color: #CFCFCF; }
  form > div > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown), form > div > div > input[type="text"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="email"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="password"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="tel"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="number"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="number"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="date"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="date"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="datetime"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="datetime"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="month"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="month"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="search"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="search"]:invalid:focus:not(:placeholder-shown),
  form > div > div > input[type="url"]:invalid:not(:focus):not(:placeholder-shown),
  form > div > div > input[type="url"]:invalid:focus:not(:placeholder-shown) {
    background: #FADDD9;
    border: 1px solid #FADDD9;
    transition: all 0.2s ease-out 1.5s; }
    form > div > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label, form > div > div > input[type="text"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="email"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="password"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="tel"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="number"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="number"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="date"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="date"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="datetime"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="datetime"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="month"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="month"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="search"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="search"]:invalid:focus:not(:placeholder-shown) + label,
    form > div > div > input[type="url"]:invalid:not(:focus):not(:placeholder-shown) + label,
    form > div > div > input[type="url"]:invalid:focus:not(:placeholder-shown) + label {
      font-size: 10px;
      font-weight: 500;
      top: 6px; }
    form > div > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements, form > div > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="tel"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="number"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="number"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="date"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="date"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="datetime"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="datetime"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="month"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="month"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="search"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="search"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="url"]:invalid:not(:focus):not(:placeholder-shown) ~ .requirements,
    form > div > div > input[type="url"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
      max-height: 200px;
      padding: 5px 10px 4px; }
form > div > div .requirements {
  padding: 0 10px;
  max-height: 0;
  transition: all 0.2s ease-out 1.5s;
  overflow: hidden;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  background-color: #ED887D; }
form .textarea > label {
  position: absolute;
  height: 30px;
  left: 20px;
  font-size: 10px;
  font-weight: 500;
  color: #888888;
  top: 6px; }
form .textarea > label + textarea {
  padding: 25px 10px 4px; }
form .textarea > textarea {
  -webkit-appearance: none;
  border-radius: 0;
  font-weight: 300;
  width: 100%;
  border: 1px solid #F4F4F4;
  padding: 14px 10px 4px;
  background: #F4F4F4;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  resize: none; }
  form .textarea > textarea:focus {
    outline: 0;
    border: 1px solid #000000; }
  form .textarea > textarea::-moz-placeholder {
    font-weight: 300;
    font-size: 18px;
    color: #888888; }
  form .textarea > textarea:-ms-input-placeholder {
    font-weight: 300;
    font-size: 18px;
    color: #888888; }
  form .textarea > textarea::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 18px;
    color: #888888; }
form input[type="submit"] {
  display: block;
  margin: 10px 0;
  border: 0;
  padding: 15px 0;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 18px;
  background: #EB776A;
  border-radius: 2px; }

body {
  background: white;
  font-family: 'tisa sans', sans-serif;
  padding: 20px; }

* {
  box-sizing: border-box; }

.p-l-1 {
  margin-left: -5px !important;
  padding-right: 5px !important; }

.p-r-1 {
  padding-right: 5px !important; }
