/* Breakpoints */
$narrow: 768px;

/* Spacing? */
$spacer-x: 10px;

/* Grayscale */
$gray-1: #fafafa;
$gray-2: #f4f4f4;
$gray-3: #cfcfcf;
$gray-4: #888;
$medium-gray: #c3c3c3;

/* Font Families */
$sans-serif: 'tisa sans', sans-serif;

/* Font Sizes */
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-medium: 18px;

/* Radii */
$small-border-radius: 2px;
$radius-reset: 0;

/* Borders */
$black-border: 1px solid $black;
$gray-1-border: 1px solid $gray-1;
$gray-2-border: 1px solid $gray-2;
$coral-tint-80-border: 1px solid $coral-tint-80;

/* Resets */
$border-reset: 0;
$outline-reset: 0;
