:local(.dropdown-item-check) {
  composes: icon-general-checkmark-selected-state from '@sharedweb/tk-icons';

  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  font-size: 10px;
}
