:local(.label-as-placeholder) {
  position: absolute;
  top: 0;
  left: 0;
}

:local(.label) {
  composes: label-as-placeholder;

  /* Should come from a font-size class from typography */
  font-weight: 300;
  font-size: 18px;

  transition: all 0.2s ease-out;
  margin-left: 10px;
  margin-top: 14px;
  cursor: text;
  color: $gray-55;

  /* Firefox doesn't support (:placeholder-shown) at the moment */
  @-moz-document url-prefix() {
    color: $black;
    font-size: $font-size-xsmall;
    font-weight: 500;
    margin-top: 6px;
  }
}

/* Contextual styles */
:local(.field) {
  &:disabled ~ :local(.label) {
    color: $gray-3;
    text-decoration: line-through;
  }

  &:not(:placeholder-shown) ~ :local(.label),
  &:focus ~ :local(.label) {
    font-size: $font-size-xsmall;
    font-weight: 500;
    margin-top: 6px;
  }

  &:focus ~ :local(.label) {
    color: $black;
  }
}
