%tk-dropdown__placeholder {
  @extend %tk-abstract-placeholder;

  position: absolute;
  left: 0;
  top: 0;

  margin-top: 14px;
  margin-left: 10px;
}

%tk-dropdown__placeholder--is-focused {
  @extend %tk-abstract-placeholder--is-focused;
  margin-top: 6px;
}

%tk-dropdown__placeholder--is-filled {
  @extend %tk-abstract-placeholder--is-filled;
  margin-top: 6px;
}
